@inherits EditorComponentBase<RedaktHotel.BackOfficeExtensions.Models.GeoLocation>
<ContentFormField Model="@Model">
    <div class="rx-input rx-input--text @(IsDisabled ? "rx--disabled" : null)">
        <label class="rx-input__prefix">Lat, Lng</label>
        <div style="width: 100%; height: 100%;">
            <input type="text" style="cursor: pointer;" value="@Label" disabled />
        </div>
        <Button Icon="@ContentIcons.Interface.Search" Clicked="@OpenPicker" IsDisabled="@IsDisabled"></Button>
    </div>
</ContentFormField>
